<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jike.supercollection"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityQianbao"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
         <activity
            android:name=".Activity_Web_Pay"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
        <activity
            android:name=".ActivityRecordState"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
        <activity
            android:name=".ActivityMyAccout"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
         <activity
            android:name=".ActivityOrderDetail"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
    </application>

</manifest>
